<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Here, the value is in bytes. The example below sets the limit to 2GB. -->
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
