@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EC-Tools</h1>
    <p>Developer: @Model.dev</p>

    <section id="MR_MAIN_TOOLS" class="card">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-vector/digital-document-logo-design-template_18099-2363.jpg" class="card-img-top" alt="Digital Document">
            <div class="card-body">
                <h5 class="card-title">FILE TO SQL</h5>
                <p class="card-text">A quick tool to generate a SQL script from a given file's data.</p>
                <a asp-page="FileToSQL" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>
    
</div>
