@page
@model EcTools.Pages.ToSQLModel
@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header" style="background: linear-gradient(69deg, rgba(255, 255, 255, 0.86) 0%, rgb(149, 149, 149) 300%);color: #ff4d01;font-weight: bold;border: 2px solid #fff;">
                    File Upload
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="uploadForm">
                        <div class="mb-3">
                            <label for="file" class="form-label">Choose a file:</label>
                            <input type="file" name="file" id="file" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <button type="button" value="Upload" id="EC_TOSQL_FORM_UPLOAD_BUTTON" class="EC_TOSQL_FORM_UPLOAD_BUTTON" onclick="uploadFile()">
                                UPLOAD
                            </button>
                        </div>
                    </form>

                    <div id="FileUploadStatus">
                    </div>
                    
                    <div id="defaultValueFormContainer" class="card alert-warning" role="alert">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <form id="defaultValueForm">
                                    <div class="mb-3">
                                        <label for="defaultValue" class="form-label">Type the default value for the empty fields</label>
                                        <input type="text" class="form-control" id="defaultValue" name="defaultValue" placeholder="Enter default value">
                                    </div>
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-primary" onclick="setEmptyFieldsDefaultValue()">Apply</button>
                                        <button type="button" class="btn btn-secondary" onclick="location.reload()">Quit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="columnValuesFormContainer" class="card alert-warning" role="alert">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="columnValuesForm">                                    
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="fileDownload"></div>
                    

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var _fileName = "";
        var _originalFileName ="";
        var _missingColumnsCount = 0;

        $('#FileUploadStatus').hide();
        $('#defaultValueFormContainer').hide();
        $('#columnValuesFormContainer').hide();
        $('#fileDownload').hide();

        $('#file').change((event) => {
            if (event.target.files.length > 0) {
                $('#EC_TOSQL_FORM_UPLOAD_BUTTON').prop('disabled', false);
            } else {
                $('#EC_TOSQL_FORM_UPLOAD_BUTTON').prop('disabled', true);
            }
        });


        function uploadFile() {

            $('#FileUploadStatus').hide();
            $('#defaultValueFormContainer').hide();
            $('#columnValuesFormContainer').hide();
            $('#fileDownload').hide();

            const fileInput = document.querySelector('input[type="file"]');
            const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);
            formData.append('__RequestVerificationToken', token);

            $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`
                <div id="EC_TOSQL_FORM_UPLOAD_BUTTON_SPINNER" class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            `);

            // Using RxJS To Handle The AJAX Request
            rxjs.from(fetch('/ToSQL', {
                method: 'POST',
                body: formData
            }))
            .subscribe(response => {
                if (response.ok) {
                    response.json().then(data => {
                        if (data.success) {
                                console.log(data);

                                _fileName           = data.filename;
                                _originalFileName   = data.originalFileName

                                $('#FileUploadStatus').html(`
                                <div class="alert alert-success mt-3">
                                            File <b>${data.originalFileName}</b> uploaded successfully.
                                </div>`);
                                $('#FileUploadStatus').slideDown();
                                

                                setTimeout((e)=>{
                                    $('#FileUploadStatus').slideUp();
                                    setTimeout((e)=>{
                                        $('#fileDownload').html('');
                                        $('#fileDownload').html(`
                                                <div class="alert alert-info mt-3">
                                                            Start Verifying The File <b>${data.originalFileName}</b>.
                                                </div>
                                        `);
                                        $('#fileDownload').slideDown();
                                    },300);  
                                    console.log("Start Verifying The File");
                                    verifyFile(data.filename);
                                },2500);
                        } else {
                            console.log(data);

                            $('#FileUploadStatus').html(`
                            <div class="alert alert-danger mt-3">
                                        File <b>${data.originalFileName}</b> not uploaded, try again.
                            </div>`);
                            $('#FileUploadStatus').slideDown();

                            $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                        }
                    });
                } 
                else {
                    console.log('Error uploading file.');
                }
            });
        }


        function verifyFile(filename){
            rxjs.from(fetch('/ToSQL?handler=VerifyCSV&filename=' + filename, {
                method: 'GET'
            }))
            .subscribe(response =>{
                if (response.ok) {
                    response.json().then(data => {
                        if(data.length > 0){
                                console.log(data);
                                $('#FileUploadStatus').slideUp();
                                if (data[0].errorType == "MORE_COLUMNS_THAN_DATA") {
                                    setTimeout((e) => {
                                        $('#FileUploadStatus').html('');
                                        $('#FileUploadStatus').html(`
                                        <div class="alert alert-danger mt-3">
                                                  Verification done, The File <b>${_originalFileName}</b> is not valid.
                                        </div>
                                        `);
                                        $('#FileUploadStatus').slideDown();
                                        $('#defaultValueFormContainer').slideDown();
                                        $('#fileDownload').slideUp();
                                    }, 2000);
                                } else if (data[0].errorType == "MORE_DATA_THAN_COLUMNS") {

                                    _missingColumnsCount = data[0].missingColumnsCount;

                                    setTimeout((e) => {
                                        $('#FileUploadStatus').html('');
                                        $('#FileUploadStatus').html(`
                                                <div class="alert alert-danger mt-3">
                                                    Verification done, The File <b>${_originalFileName}</b> is not valid.
                                                    <br>
                                                            The File <b>${_originalFileName}</b> has ${_missingColumnsCount} missing columns.
                                                </div>
                                                `);
                                        $('#FileUploadStatus').slideDown();
                                        $('#fileDownload').slideUp();
                                      
                                        $('#columnValuesForm').html(``);
                                        var clInputs = "";
                                        for(var i = 1 ; i <= _missingColumnsCount ; i++){
                                            clInputs += `
                                                <div class="alert row">
                                                    <label class="col-3 d-inline-flex p-2 bd-highlight" for="columnName${i}">Colonne N°${i}</label>
                                                    <div class="col-8 "> <input type="text" class="form-control" placeholder="Enter column's name" id="columnName${i}" name="columnName${i}"></div>
                                                </div>
                                            `;
                                        }

                                        clInputs +=`
                                        <div class="d-grid gap-2 d-md-flex">
                                          <button type="button" onclick="setColumnFieldsValue()" class="btn btn-primary p-2 w-100 bd-highlight">Apply</button>
                                          <button type="button" onclick="location.reload()" class="btn btn-secondary p-2 flex-shrink-1 bd-highlight">Quit</button>
                                        </div>
                                        `;
                                        $('#columnValuesForm').html(clInputs);
                                        $('#columnValuesFormContainer').slideDown();
                                    }, 2000);
                                }
                                
                        }else{
                                console.log("ALL LINES ARE GOOD, FILE IS VALID");
                                console.log(data);
                                $('#FileUploadStatus').slideUp();
                                setTimeout((e) => {
                                    $('#FileUploadStatus').html('');
                                    $('#FileUploadStatus').html(`
                                    <div class="alert alert-success mt-3">
                                         Verification done, The File <b>${_originalFileName}</b> is valid.
                                    </div>
                                    `);
                                    $('#fileDownload').slideUp();
                                    $('#FileUploadStatus').slideDown();
                                    processValidFile();
                                }, 2000);
                        }
                        
                    });
                }else{
                    console.log('An Error Occured While Verifying The File.');
                    $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                }
            });
        }

        function processValidFile(){
            rxjs.from(fetch('/ToSQL?handler=ProcessValidFile', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'RequestVerificationToken':document.querySelector('input[name="__RequestVerificationToken"]').value},
                body: JSON.stringify({ fileName: _fileName, originalFileName:_originalFileName })
            }))
                .subscribe(response => {
                    if (response.ok) {
                        response.json().then(data => {

                            console.log(data.message);

                            $('#FileUploadStatus').slideUp();
                            $('#defaultValueFormContainer').slideUp();
                            setTimeout((e) => {
                                $('#FileUploadStatus').html('');
                                $('#FileUploadStatus').html(`
                                            <div class="alert alert-success mt-3">
                                                ${data.message}
                                            </div>
                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                <button class="btn btn-primary" onclick="downloadFile('${data.sqlFileName}')">Download [${data.sqlFileName}]</button>
                                            </div>
                                                                `);
                                $('#FileUploadStatus').slideDown();
                                $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                            }, 2000);
                            
                        });
                    } else {
                        console.error('Error applying default value.');
                        $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                    }
                });
        }

        function setEmptyFieldsDefaultValue(){
            const inputValue = document.getElementById('defaultValue').value;
            rxjs.from(fetch('/ToSQL?handler=FieldsDefaultValueManager', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'RequestVerificationToken':document.querySelector('input[name="__RequestVerificationToken"]').value},
                body: JSON.stringify({ defaultValue: inputValue, fileName: _fileName, originalFileName:_originalFileName })
            }))
            .subscribe(response =>{
                if (response.ok) {
                        response.json().then(data => {
                            
                            console.log(data.message);

                            $('#FileUploadStatus').slideUp();
                            $('#defaultValueFormContainer').slideUp();
                            setTimeout((e) => {
                                $('#FileUploadStatus').html('');
                                $('#FileUploadStatus').html(`
                                    <div class="alert alert-success mt-3">
                                        ${data.message}
                                    </div>
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <button class="btn btn-primary" onclick="downloadFile('${data.sqlFileName}')">Download [${data.sqlFileName}]</button>
                                    </div>
                                                        `);
                                $('#FileUploadStatus').slideDown();
                                $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                            }, 2000);                            
                        });
                }else{
                   console.error('Error applying default value.');
                        $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                }
            });
        }

        function setColumnFieldsValue(){
            const formData = {};
            const formElement = document.getElementById('columnValuesForm');
            for (let element of formElement.elements) {
                if (element.name) {
                    formData[element.name] = element.value;
                }
            }

            formData.__fileName          = _fileName;
            formData.__originalFileName  = _originalFileName;



            rxjs.from(fetch('/ToSQL?handler=ColumnsValueManager', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value },
                body: JSON.stringify(formData)
            }))
            .subscribe(response =>{
                if (response.ok) {
                        response.json().then(data => {
                            console.log(data.message);
                            $('#columnValuesFormContainer').slideUp();
                            $('#FileUploadStatus').slideUp();
                            setTimeout((e) => {
                                $('#FileUploadStatus').html('');
                                $('#FileUploadStatus').html(`
                                <div class="alert alert-success mt-3">
                                    ${data.message}
                                </div>
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <button class="btn btn-primary" onclick="downloadFile('${data.sqlFileName}')">Download [${data.sqlFileName}]</button>
                                </div>
                                `);
                                $('#FileUploadStatus').slideDown();
                                $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                            }, 2000);
                        });
                    
                }else{
                    console.error('Error adding the new columns.');
                    $('#columnValuesFormContainer').slideUp();
                    $('#FileUploadStatus').slideUp();
                    setTimeout((e) => {
                        $('#FileUploadStatus').html('');
                        $('#FileUploadStatus').html(`
                        <div class="alert alert-danger mt-3">
                            Error adding the new columns.
                        </div>
                        `);
                        $('#FileUploadStatus').slideDown();
                            $('#EC_TOSQL_FORM_UPLOAD_BUTTON').html(`UPLOAD`);
                    }, 2000);
                        
                }
            });
        }

        function downloadFile(fileNameDownload) {
            rxjs.from(fetch('/ToSQL?handler=DownloadFile',{
                method: 'POST',
                headers: { 'Content-Type': 'application/json', 'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value },
                body: JSON.stringify({ sqlFileName: fileNameDownload})
                }))
                .pipe(
                    rxjs.operators.switchMap(response => response.blob())
                )
                .subscribe(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = fileNameDownload;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                });
        }

    </script>
}